<header class="header" role="banner">
	<button class="btn btn-primary back-btn" ui-sref="{{backState}}">Back</button>

	<p class="pageTitle">{{pageTitle}}</p>
</header>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12 page-content">
			<h2>The About page</h2>
			{{message}}
			
			<h5>People list:</h5>
			<ul class="peopleList">
				<li ng-repeat="person in people">
					{{person}}
				</li>
			</ul>
			<button class="btn btn-success" ng-click="addPerson()">Add person</button>

			<hr>

			<p>These tabs are multi-views using ui-router's <code>ui-view="&lt;name&gt;"</code> method. They each have their own controller and view html.</p>

			<tabset type="pills" class="sub-sections">
				<tab heading="Skills">
					<div ui-view="skills"></div>
				</tab>
				<tab heading="Music">
					<div ui-view="music"></div>
				</tab>
			</tabset>

			<hr>

			<p>This link will go to the <code>/list</code> nested view (about.list state). This uses ui-router's nested views.</p>

			<a ui-sref="about.list">Show List</a>
			<div ui-view></div>
		</div>
	</div>
</div>