.page {
	position: absolute;
	bottom: 50px;
	top: 0;
	width: 100%;
}

.ng-enter {
	z-index: 8888;
}

.ng-leave {
	z-index: 9999;
}

.page.ng-enter {
	@include animation(slideInLeft 0.75s ease-out);
}
.page.ng-leave {
	@include animation(slideOutLeft 0.75s ease);
}

.peopleList .ng-enter {
	@include animation(fadeUp 0.25s ease-out);
}