.page {
	position: absolute;
	// bottom: 50px;
	top: 0;
	width: 100%;
}

.ng-enter {
	z-index: 8888;
}

.ng-leave {
	z-index: 8889;
}

.page.ng-enter {
	@include animation(scaleUpIn 0.4s ease-out);
}
.page.ng-leave {
	@include animation(scaleUpOut 0.4s ease);
}

.peopleList .ng-enter {
	@include backface-visibility(visible);
	@include transform-origin(top left);
	@include animation(flipIn 0.5s ease-out);
}

.sub-sections > .tab-content > .active {
	// @include animation(fadeIn 0.5s ease-out);
}